.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: bisque;
  padding: 10px;
  width: 20%;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  flex-wrap: wrap;
}
